[Desktop Entry]
Type=Application
Comment=flowGUI
Name=flowGUI
Exec=python3 /home/pi/homecage_quantification/GUI.py
Icon=/home/pi/homecage_quantification/docs_img/flow_logo.png
Terminal=true
Categories=Utility
StartupNotify=true